{% extends 'base.html'%}
{% block content %}
  <div class="container py-5">
    {% for post in page_obj %}
      <h1>
        {% block title %}
          {{ post.author.get_full_name }} - душа этого места!
        {% endblock %}
      </h1>
      <p>
        {{ post.group }}
      </p>
      <article>
        <ul>
          <li>
            Автор: {{ post.author.get_full_name }}
          </li>
          <li>
            Дата публикации: {{ post.pub_date }}
          </li>
        </ul>      
        <p>
          {{ post.text }}
        </p>         
        </article>
    {% endfor %}
    {% include 'posts/includes/paginator.html' %}
{% endblock %}   
